<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fdx.todo.mapper.TodoListMapper">
    <!-- 조회 -->
    <select id="getTodoList" resultType="com.fdx.todo.common.vo.TodoListParameter">
        SELECT id,
               title,
               status,
               due_month,
               due_date,
               created_at
        FROM tasks
        <where>
            <if test="due_month != '' and due_month != null">
                AND due_month = #{due_month}
            </if>
        </where>
        ORDER BY status ASC, due_date ASC
    </select>

    <!-- 삭제 -->
    <delete id="deleteTodo" parameterType="com.fdx.todo.common.vo.TodoListParameter">
        DELETE FROM tasks
        <where>
                AND id = #{id}
        </where>
    </delete>

    <insert id="insertTodo" parameterType="com.fdx.todo.common.vo.TodoListParameter">
    INSERT INTO tasks (
                title, 
                status, 
                due_month, 
                due_date, 
                created_at
                )
            VALUES (
                #{title}, 
                #{status},
                #{due_month},
                #{due_date}, 
                NOW()
            )
    </insert>


	<update id="updateTodo" parameterType="com.fdx.todo.common.vo.TodoListParameter" >
        UPDATE tasks
        <set>
				title = #{title}
        </set>
         WHERE 1=1
         AND id = #{id}
    </update>

<!-- 상태 변경 -->
    <update id="updateStatusTodo" parameterType="com.fdx.todo.common.vo.TodoListParameter">
        UPDATE tasks
        <set>
            status = CASE 
                        WHEN status = 1 THEN 2
                        WHEN status = 2 THEN 1
                        ELSE status
                    END
        </set>
        WHERE id = #{id}
    </update>


<!-- 스케줄러 -->
    <update id="updateStatusToInSuccess">
        UPDATE tasks
        SET status = 2
        WHERE status = 1
        AND STR_TO_DATE(due_date, '%Y-%m-%d') = CURDATE() - INTERVAL 1 DAY
    </update>

    <update id="updateStatusToInProgress">
        UPDATE tasks
        SET status = 1
        WHERE status = 0
        AND STR_TO_DATE(due_date, '%Y-%m-%d') = CURDATE() 
    </update>



</mapper>
