<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fdx.todo.mapper.TodoListMapper">
    <select id="getTodoList" resultType="com.fdx.todo.common.vo.TodoListParameter">
        SELECT id
               ,user_id
               ,title
               ,description
               ,status
               ,due_date
               ,created_at
        FROM tasks;
    </select>
</mapper>
